*.class

# Package Files #
*.jar
*.ear

#Eclipse files
.settings
.project
.classpath

#Binaries
target

#TestNG
test-output/

#Project specific
integ-image-validator/*.png

#Maven
pom.xml.versionsBackup

